<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-left">
            <button type="button" class="btn logout-btn" routerLink="/admin-home" routerLinkActive="active">Back</button>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn logout-btn" (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-light table-bordered">
        <thead class="thead-primary">
            <tr>
                <th scope="col">Issue Id</th>
                <th scope="col">User Name</th>
                <th scope="col">Book Name</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Computed Rent</th>
                <th scope="col">Status</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody *ngFor="let lIssue of issueList">
            <!-- <tr *ngIf="!lIssue.isReturned"> -->
                <tr>
                <td>{{lIssue.issueId}}</td>
                <td>{{lIssue.user.userName}}</td>
                <td>{{lIssue.book.bookName}}</td>
                <td>{{lIssue.dateOfIssue | date}}</td>
                <td>{{lIssue.dateOfReturn | date}}</td>
                <td>{{lIssue.totalRent}}</td>
                <div *ngIf="lIssue.isReturned; else elseBlock">
                    <td>Returned</td>
                </div>
                <ng-template #elseBlock><td style="color:brown">Pending</td></ng-template>
                <td><button class="btn table-btn" (click)="onReturn(lIssue)" [disabled]="lIssue.isReturned">Return</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button type="button" class="btn" routerLink="/admin-home" routerLinkActive="active">Back</button>
    </div>
</div>