.main-content{
	width: 70%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
@media screen and (max-width: 640px) {
    .main-content{width: 90%;}
    .signup-form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 75%;}
}
h2{
	color:#802938;
}
.signup-form{
    background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.h2_signup{
    margin-top: 1em !important;
}
.form__input{
	width: 100% !important;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
	padding-left: 1em;
	outline:none;
    margin:0.5em;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #802938/*#008080*/;
	box-shadow: 0 0 5px rgba(48, 3, 12, 0.541); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 100%;
	border-radius: 30px;
	color:#802938;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #802938;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #802938;
	color:#fff;
}
select:invalid{
    color: gray;
}

